* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(210deg, #00283d, #000508);
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1{
  position: relative;
  width: 510px;
  height: 410px;
 
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

}
.box2 {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #000508;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* Borda animada externa */
.box1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 16px solid transparent; /* Espessura da borda aumentada */
  background-image: linear-gradient(45deg, #00ff00, #ff0066, #0066ff, #ffcc00, hsl(15, 100%, 50%));
  background-size: 400%; /* Aumenta o tamanho da animação da borda */
  animation: borderAnimation 3s linear infinite;
  z-index: -1; /* Garante que a borda fique atrás do conteúdo */
}

@keyframes borderAnimation {
 0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 380px; /* Canto superior direito */
    }
    50% {
        top: 380px;
        left: 380px; /* Canto inferior direito */
    }
    75% {
        top: 380px;
        left: 0; /* Canto inferior esquerdo */
    }
    100% {
        top: 0;
        left: 0; /* Retorna ao lado esquerdo */
    }
}